<!DOCTYPE html>
<html>
<head>
	<title>Main page demo</title>
</head>
<body>
	<div id="main"></div>
	<script src="build/build.js"></script>
	<script>
		var mainPage = require('switcharoo-main-page')
		var ko = require('knockout')();

		var postbox = ko.subscribable();
		
		var data = { 
			features: [
			{
				id: '1',
				created: '01.02.2013',
				app: 'App A',
				feature: 'Feature 1',
				environments: [ 
					{ name: 'local', on: true },
					{ name: 'test', on: true },
					{ name: 'prod', on: false }
				]
			}] 
		};
		mainPage(data, postbox).render(document.querySelector('#main'));
	</script>
</body>
</html>